{{hello}}
<hr/>
      <div class="tray filter-tray top collapse">
        <div class="tray-inner">
          <div class="filter-tray clearfix">
            <div class="row-fluid">
              <div class="span2">
                <label><strong>Status</strong></label>
                <label class="radio">
                  <input type="radio" name="statusRadios" id="statusRadios1" value="all" checked  ng-model="filter.status"> All
                </label>
                <label class="radio">
                  <input type="radio" name="statusRadios" id="statusRadios2" value="incomplete" ng-model="filter.status"> Incomplete
                </label>
                <label class="radio">
                  <input type="radio" name="statusRadios" id="statusRadios3" value="complete" ng-model="filter.status"> Complete
                </label>
              </div>
              <div class="span4">
                <label><strong>Due</strong></label>
                <label class="radio">
                  <input type="radio" name="dueRadios" id="dueRadios1" value="all" ng-model="filter.duetype" checked> All dates
                </label>
                <label class="radio">
                  <input type="radio" name="dueRadios" id="dueRadios2" value="past" ng-model="filter.duetype"> Past due
                </label>
                <label class="radio">
                  <input type="radio" name="dueRadios" id="dueRadios3" value="range" ng-model="filter.duetype"> Due between
                </label>
                <div class="" id="daterange-container">
                  <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="span5" name="start" placeholder="Start date" ng-model="filter.duestart">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control span5" name="end" placeholder="End date" ng-model="filter.dueend">
                  </div>
                </div>
              </div>
              <div class="span3">
                <label><strong>Category</strong></label>
                <select multiple="multiple" class="filter-multiple span12" ng-model="filter.category">
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                  <option>Category 4</option>
                  <option>Category 5</option>
                  <option>Category 6</option>
                </select><br>
                <a href="#" class="select-all-multiple">Select all categories</a>
              </div>
              <div class="span3">
                <label>&nbsp;</label>
                <div class="action-button-group">
                  <button class="btn">Cancel</button>
                  <button class="btn btn-primary" ng-click="applyFilter()">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow"></div>
      </div>
<hr/>
{{filterdata}}