{{hello}}
<!-- div ng-init="checked=false">
	<div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
		<select ng-model="month.datafilter" ng-options="monthfilter.lookupCode as monthfilter.description for monthfilter in filter_data"></select>
		<spam>Filter selected: Last {{month.datafilter}} months</spam>
		<input type="submit" value="Apply" ng-click="abc(month.datafilter)">
	</div>
	<label>
		<input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Filter
	</label>
</div -->
<hr/>
<div style="display:none;">
<sparkline-element></sparkline-element>
</div>
<hr/>
<span class="sparklines" sparkType="line"  values="10,12,3,14,15,14,13,12,11, 8,5,12,14"></span>
<span class="sparklines2" sparkType="line"  values="10,12,13,4,5,14,13,12,11,10,12,14,15"></span>
