<div class="accordion_container"> 
        <div class="accordion_container">
		
          <div class="accordion-group" data-ng-repeat="x in testprivilege.rnp">
            <div class="accordion-heading clearfix">
				<a class="accordion-toggle category pull-left" data-toggle="collapse" data-parent="#parent" ng-href="#category{{x.category}}" ng-click="global.isOpen{{x.category}} = !global.isOpen{{x.category}}">
					<i class="fa fa-plus-square" ng-hide="global.isOpen{{x.category}}"></i>
					<i class="fa fa-minus-square" ng-show="global.isOpen{{x.category}}"></i><b>{{x.role}}</b>
				</a>
				<div data-toggle="collapse" data-parent="#parent" ng-href="#category{{x.category}}" class="head-height">&nbsp;</div>
            </div>
            <div id="category{{x.category}}" class="accordion-body collapse">
              <ul class="">
                <li id="" class="" data-ng-repeat="y in x.privileges">        
                    <input type="checkbox" ng-checked="{{y.Selected}}">{{y.name}}
                </li>
              </ul>
            </div>
          </div>
        </div>
</div>