/*.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after{
	display:inline !important;
}*/

.collapse {
    display: block; 
}

.radio input[type=radio]{
	position: relative; 
    margin-left: 0px; 
}